<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = 'cinema.name'></app-navbar>

<!--<section class="model-area section-gap" >
	<div class="container">
    <div class="row d-flex justify-content-center pb-40">
      <div class="col-md-8 pb-40 header-text">
        <h3 class="text-center pb-10">Branch control</h3>
      </div>
    </div>
      <app-branch-control *ngIf = "smeDaIzmeni" [service] = 'service' (messageEvent)="receiveMessageBranches($event)"></app-branch-control>
  </div>
  </section>
</div>-->

<!--<section class="model-area section-gap" >
	<div class="container">
    <div class="row d-flex justify-content-center pb-40">
<agm-map [latitude]=45.25024259251935  [longitude]=19.835199103219566 [zoom] = "11" (mapClick)="mapClicked($event)">
  <agm-marker *ngFor="let koordinata of koordinates" [latitude]="koordinata.Latitude" [longitude]="koordinata.Longitude">
      <agm-info-window>{{koordinata.info}}</agm-info-window>
  </agm-marker>
</agm-map>
<div class="row d-flex justify-content-center pb-40">
  <img *ngFor="let koordinataa of koordinates" [src]="koordinataa.slika">
</div>
</div>
</div>
</section>-->

  <section class="model-area section-gap" >
    <div class="container" style="width:50em">
        <div class="row d-flex justify-content-center pb-40">
            <div class="title justify-content-between d-flex">
                <div class="from-group">
                <h1 class="text-center pb-10">About cinema:</h1>
                <h6 class="mt-20">Street:{{cinema.street}}</h6>
            
                <h6 class="mt-20">Number:{{cinema.number}}</h6>
            
                <h6 class="mt-20">Longitude:{{cinema.location.coordinates[0]}}</h6>
            
                <h6 class="mt-20">Latitude:{{cinema.location.coordinates[1]}}</h6>
                </div>
            
              </div>
          </div>

      <div class="row d-flex justify-content-center pb-40">
          <div class="col-md-8 pb-40 header-text">
            <h1 class="text-center pb-10">Choose your theater</h1>
            <p class="text-center">
              
            </p>
          </div>
      </div>
        <app-car-unit *ngFor = "let theater of theatersFiltered" [theater] = 'theater' [cinemaId] = 'cinema.id' (messageEvent)="receiveMessage($event)" ></app-car-unit>
        <div class="row d-flex justify-content-center pb-40" >
            <div style="padding-left:1em"><a class="genric-btn primary text-center" *ngFor="let number of pageNumbers" (click)="doPaginacija(number)" >{{number}}</a></div>
        </div>
          <hr>
          <br>
          <hr>
          <br>
      <div class="row d-flex justify-content-center" *ngIf= "smeDaOceni" >
        <div class="single-review">  
          <div class="star">
            <span class="fa fa-star checked" *ngIf = "rate >= 1" (click)='ocena(1)'></span>
            <span class="fa fa-star" *ngIf = "rate < 1" (click)='ocena(1)'></span>
            <span class="fa fa-star checked" *ngIf = "rate >= 2" (click)='ocena(2)'></span>
            <span class="fa fa-star" *ngIf = "rate < 2" (click)='ocena(2)'></span>
            <span class="fa fa-star checked" *ngIf = "rate >= 3" (click)='ocena(3)'></span>
            <span class="fa fa-star" *ngIf = "rate < 3" (click)='ocena(3)'></span>
            <span class="fa fa-star checked" *ngIf = "rate >= 4" (click)='ocena(4)'></span>
            <span class="fa fa-star" *ngIf = "rate < 4" (click)='ocena(4)'></span>
            <span class="fa fa-star checked" *ngIf = "rate >= 5" (click)='ocena(5)'></span>
            <span class="fa fa-star" *ngIf = "rate < 5" (click)='ocena(5)'></span>
          </div>
          
          <br>
          <a class="genric-btn primary btn-block text-center text-uppercase" (click) = 'oceni()' >Add rate</a>  
        </div>
      </div>
            
            
    </div>
  </section>

  <div class="managerOnly" *ngIf="admin">
  <section class="model-area section-gap" >
      <div class="container" style="width:40em">
					<div class="row d-flex justify-content-center">
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "admin" [routerLink]="['../../cars/new/', cinema.id]">Add new Theater</a>
              <br>
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "admin" [routerLink]="['../../services/edit/', cinema.id]">Edit Cinema</a>
              <br>
              <a class="genric-btn danger btn-block text-center text-uppercase" *ngIf= "admin"  (click) = 'delete()' >Delete Cinema</a>
              
          </div>
    </div>
  </section>
  </div>
