<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 944px">
						<div class="banner-content col-lg-7 col-md-6 ">
							<h6 class="text-white ">Welcome to</h6>
							<h1 class="text-white text-uppercase">
								CinemaSMPOUS 				
							</h1>
							<p class="pt-20 pb-20 text-white">
								Join us and investigate our cinemas, theaters, movies and projections today
							</p>
							<a href="#" class="primary-btn text-uppercase" [routerLink]="['/cars']">Browse Movies</a>
						</div>
						<div class="col-lg-5  col-md-6 header-right">
						<app-registration-form></app-registration-form>
						</div>											
					</div>
				</div>					
			</section>