<div class="row align-items-center single-model item" style="padding-top:5em">
	<div class="col-lg-6 model-left">
		<div class="title justify-content-between d-flex">
			<div class="from-group">
			<h4 class="mt-20">{{theater.name}}</h4>
			<br/>

			<h6 class="mt-20">Capacity:{{theater.capacity}}</h6>

			<h6 class="mt-20">Type:{{theater.theaterType.toString()}}</h6>

			<h6 class="mt-20">Chairs per row:{{theater.chairsPerRow}}</h6>

			<h6 class="mt-20">Chairs per column:{{theater.chairsPerColumn}}</h6>
			</div>

		</div>
		

		<a class="text-uppercase primary-btn" [routerLink]="['/cars/edit',theater.id]" *ngIf = "admin">Edit Theater</a>
		<a class="text-uppercase primary-btn" (click)='deleteVehicle()' *ngIf = "admin">Delete Theater</a>
		
	</div>
	
</div>
