<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = "'New Theater'"></app-navbar>
<section class="model-area section-gap" id="new_car">
	<div class="container">
		<div class="row d-flex justify-content-center pb-40">
			<div class="col-md-8 pb-40 header-text">
				<h4 class="text-center pb-10">Add new theater to {{cinema.name}}</h4>
			</div>
		</div>
		<div class="row align-items-center single-model item">
			<div class="col-lg-6 model-left">
				<form class="form" role="form" autocomplete="off" novalidate>					    
					<div class="from-group">
						<input class="form-control txt-field" type="text" name="name" placeholder="Name" [(ngModel)]="theater.name" required>
						<br>
						<hr>
						<form class="form" role="form" autocomplete="off">		
								<div class="form-group">
									<div>
										<p style="color:black">Capacity:</p>
										<input class="form-control txt-field" type="number" name="capacity" placeholder="Capacity" [(ngModel)]="theater.capacity" required>
									</div>
								</div>
						</form>
						<hr>
						<br>
						<form class="form" role="form" autocomplete="off">		
							<div class="form-group">
								<div>
									<p style="color:black">Types:</p>
									<select size="3" style="width:10em" name="typeNameSel" [(ngModel)] ="typeNameSelected">
										<option *ngFor = "let type of types" [value]="type.toString()">{{type.toString()}}</option>
									</select>
								</div>
							</div>
						</form>
						<hr>
						<br>
						<form class="form" role="form" autocomplete="off">		
								<div class="form-group">
									<div>
										<p style="color:black">Chairs Per Row:</p>
										<input class="form-control txt-field" type="number" name="chairsPerRow" placeholder="Chairs Per Row" [(ngModel)]="theater.chairsPerRow" required>
									</div>
								</div>
						</form>
						<br>
						<hr>
						<form class="form" role="form" autocomplete="off">		
								<div class="form-group">
									<div>
										<p style="color:black">Chairs Per Column:</p>
										<input class="form-control txt-field" type="number" name="chairsPerColumn" placeholder="Chairs Per Column" [(ngModel)]="theater.chairsPerColumn" required>
									</div>
								</div>
						</form>
						<hr>
						<br>
					</div>
					<div class="form-group row">
						<div class="col-md-12">
							<br>
							<a class="text-uppercase primary-btn btn-block text-center" (click)="newCar()">Submit</a>
							<br>
							<p style="color:red">{{errorText}}</p>
						</div>
					</div>
				</form>
			</div>
		</div>		
	</div>	
</section>
