<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = "'Add new Cinema'"></app-navbar>
<section class="model-area section-gap" id="new_car">
	<div class="container" style="width:30em">
		<h4 class="row d-flex pb-30 justify-content-center" style="color:black">Add new Cinema</h4>
		<form class="form" role="form" autocomplete="off">					    
			<div class="from-group">
				<input class="form-control txt-field" type="text" name="name" placeholder="Name" [(ngModel)]="cinema.name">
				<br>
				<input class="form-control txt-field" type="text" name="surname" placeholder="Street" [(ngModel)]="cinema.street">
				<br>
				<input class="form-control txt-field" type="text" name="text" placeholder="Number" [(ngModel)]="cinema.number">
				<br> 
				<input class="form-control txt-field" type="number" name="long" placeholder="Number" [(ngModel)]="cinema.location.coordinates[0]">
				<br>
				<input class="form-control txt-field" type="number" name="lat" placeholder="Number" [(ngModel)]="cinema.location.coordinates[1]">                    
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<a class="text-uppercase primary-btn btn-block text-center text-uppercase" (click) = 'changeData()'>Submit</a>
					<br>
					<p style="color:red">{{errorText}}</p>
				</div>
			</div>
		</form>	
	</div>	
</section>

